@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7cPlayfair+Display:400,400i,700,700i);

/* * {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

img {
  width: 100%;
}

html {
  height: 100%;
}

body {
  background-color: beige;
  font-family: "Lato", "Oswald", "PLayfair+Display";
  text-align: center;
  margin: 0 auto;
  /* width: 80%; */
}

.nav-main {
  margin: 0 auto;
  width: 80%;
}

nav {
  /* position: fixed; */
  left: 0;
  top: 0;

  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 17px 0;
  padding-bottom: 10px;

  overflow: hidden;

  border-bottom: 1px solid #cacaca;
}

ul {
  padding-left: 0;
  list-style: none;
}

.navbar {
  /* padding-left: 0; */
}

.icons {
  /* float: right; */
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  /* float: left; */
  text-align: center;
  font-size: 15px;
  /* display: flex; */
}

nav li a {
  padding: 12px;
  /* display: flex; */
}

.navbar li:nth-child(1) {
  padding-left: 0;
  margin-left: 0;
}

article {
  width: 1015px;
  /* height: 1000px; */
  background-color: blue;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 5px grey;
}

main {
  display: flex;
  flex-direction: row;
  margin: 5rem auto;
  justify-content: space-between;
}

.articles {
  width: 66%;
}

.article-img {
  max-width: 100%;
}

article h2 {
  font-size: 15px;
}

article h1 {
  font-size: 30px;
}

article p {
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  text-align: left;
  line-height: 35px;
  padding: 0 4rem 20px 4rem;
}

.sidebar {
  background-color: red;
  width: 490px;
}

.sidebar-item {
  background-color: blueviolet;
  height: 735px;
  /* margin-bottom: 50px; */
}

button {
  width: 225px;
  height: 55px;
  border: 3px solid maroon;
  color: maroon;
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
}

.article-footer {
  height: 50px;
  width: 100%;
  background-color: green;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-footer ul {
  display: flex;
  list-style-type: none;
}
.article-footer li a {
  padding: 12px;
  /* display: flex; */
}

.sidebar-item.first-item {
  position: relative;
  text-align: center;
}

.header-pic {
  height: 250px;
}

.round-pic {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 10px white solid;

  /* display: inline-block; */
}
.sidebar {
  text-align: center;
}

.mattie {
  margin-top: 160px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons li a {
  padding: 12px;
}

.mattie a {
  border-radius: 50%;
  padding: 15spx;
  border: 1px solid grey;
}

.sidebar-item {
  margin-bottom: 0;
}
.second-item h1 {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.second-item-pic {
  width: 80%;
}

.second-item p {
  font-style: italic;
  /* border-bottom: 1px solid #cacaca; */
}

.second-item span {
  width: 50px;
  height: 1px;
  background-color: black;
}

.footer-list {
  display: flex;
}

.footer-img {
  /* width: 12.5%; */
}
